<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs") %>
  <title>New Message</title>
</head>

<body>
  <header>
    <div class="container">
      <a href="/">Cancel</a>
    </div>
  </header>
  <main>
    <section>
      <div class="container">
        <h1>Create Message</h1>
        <form action="/new/message" method="POST">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" placeholder="Title..." />
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="5" placeholder="Enter message..."></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
    </section>
  </main>
</body>

</html>