<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs") %>
  <title>Home</title>
</head>

<body>
  <main>
    <section>
      <div class="container">
        <h1>Welcome to the Clubhouse!</h1>
        <p><a href="/login">Login</a> or <a href="/signup">Sign Up</a> to create messages</p>
      </div>
    </section>
    <%- include("partials/messages.ejs") %>
  </main>
</body>

</html>